# NestJS
PORT=3000
DOMAIN_NAME="your-domain.com"

# Cisco Webex Bot
BOT_ACCESS_TOKEN="your-bot-access-token"
BOT_NAME="your-bot-name"
BOT_USERNAME="your-bot-username@webex.bot"
BOT_ID="your-bot-id" 

# Database
DB_USERNAME="your-db-username"
DB_PASSWORD="your-db-password"
